@import "tailwindcss";


:root {
  /* Colors */
  --background: #fafaf9;
  --foreground: #0f172a;

  /* Fonts */
  --font-primary: var(--font-playfair-display);
  --font-secondary: var(--font-inter);
}

@theme inline {
  /* Fonts */
  --font-primary: var(--font-playfair-display);
  --font-secondary: var(--font-inter);

  /* Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary-1: #e7f1f1;
  --color-primary-2: #c5dedc;
  --color-primary-3: #98c4c1;
  --color-primary-4: #68a9a4;
  --color-primary-5: #3a8f88;
  --color-primary-6: #0f766e;
  --color-primary-7: #0d645e;
  --color-primary-8: #0b544e;
  --color-primary-9: #09433f;
  --color-primary-10: #073531;

  --color-placeholder: #7c8798;

  /* Spacing */
  --spacing-space-1: 4px;
  --spacing-space-2: 8px;
  --spacing-space-3: 12px;
  --spacing-space-4: 16px;
  --spacing-space-5: 24px;
  --spacing-space-6: 32px;
  --spacing-space-7: 48px;
  --spacing-space-8: 64px;
  --spacing-space-9: 80px;
  --spacing-space-10: 96px;
  --spacing-space-11: 112px;

  /* Font Sizes */
  --text-xs: 10px;
  --text-sm: 12px;
  --text-md: 14px;
  --text-lg: 16px;
  --text-xl: 18px;
  --text-2xl: 20px;
  --text-3xl: 24px;
  --text-4xl: 32px;
  --text-5xl: 40px;
  --text-6xl: 64px;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-secondary), Arial, Helvetica, sans-serif;
}

input {
  @apply bg-none outline-none placeholder:font-primary placeholder:text-placeholder pl-space-3 placeholder:font-semibold placeholder:text-xl text-xl font-semibold ;
}